<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AppVersionMapper">
    <resultMap id="AppVersionResultMap" type="com.example.entity.pojo.AppVersion">
        <id column="id" property="id" />
        <result column="version_code" property="versionCode" />
        <result column="update_description" property="updateDescription" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="gray_uid" property="grayUid" />
        <result column="file_type" property="fileType" />
        <result column="external_url" property="externalUrl" />
        <result column="is_deleted" property="isDeleted" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>